body {
	background :  	#3B3E47;
}
header {
	text-align :center;
background: #4A4E57;


color: #B6707F;
}

.table {
	width:400px;
	position:relative;
	margin:0 auto;
}

	li:nth-child(even)
	{
   background-color: #8883A1;
 }
 li:nth-child(odd)
	{
   background-color: #7A7691;
 }

input[type="checkbox"] {

}
ul li {
    list-style:none;
    margin:none;
    font-family:'Lato';
    position:relative
	
}
label {
    cursor:pointer;
	
    

}
input[type="checkbox"]:checked + label {
    color:DarkSeaGreen;
	text-decoration:line-through
}
.Bon{
 	text-align :center;
background: #4A4E57;
width:400px;
height:50;
margin: 0 auto;
margin-top:30;


color: #B6707F;
}
	
}

 

	
	
	




